@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
}

#pageWrapperLogin {
    height: 97vh;
    background-image: linear-gradient(180deg, rgba(217, 217, 217, 0.00), #18388C);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}

.loginDivs {
    display: flex;
    justify-content: center;
    margin: 3vh;
}

#divLogin {
    display: grid;
}

#divEmail, #divSenha, #divEmailCadastro, #divSenhaCadastro, #divConfirmacaoSenha {
    position: relative;
}

#imgLogo {
    margin: 9vh 0 0 5vh;
}

#divButtons {
    justify-content: space-between;
}

#aEsqueci {
    color: white;
}

.label {
    position: absolute;
    top: 5px;
    left: 12px;
    font-size: 14px;
    color: rgba(0, 2, 5, 0.90);
    font-family: Roboto;
    font-weight: 700;
}

.campo {
    padding: 5px 12px 0 12px;
    height: 44px;
    width: 237px;
    border-radius: 15px;
    border: 2.25px solid #4A6EC9;
    background: #FFF;
    transition: border-color 0.3s ease;
}

.campo:hover {
    border-color: #002058;
}

.campo:focus {
    outline: none;
    border-color: #002058;
}

.buttons, #salvarAnotacao {
    cursor: pointer;
    height: 40px;
    width: 48%;
    border-radius: 45px;
    font-family: Roboto; 
    font-size: 22px; 
    font-weight: 400;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.20)) drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.12)) drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.14)); 
}

.buttons:hover, #aEsqueci:hover, .mainButtons:hover, .anotacoesDivs:hover, #salvarAnotacao:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#buttonEntrar, #buttonSalvarCadastro {
    border: 1px solid #4A6EC9;
    background: #4472C4;
    color: #F9F9F9;
}

#buttonCadastrar, #fecharCadastro {
    border: 1px solid #4A6EC9;
    background: #FFF;
    color: #4472C4;
}

#aEsqueci{
    font-family: Roboto;
    font-size: 15px;
}

#buttonLoginGoogle {
    border-radius: 15px;
    width: 262px;
    height: 50px;
}

#divMuteSound {
    display: flex;
    justify-content: end;
    margin: 7vh 3vh 0 0;
}

.pageWrapper {
    height: 100vh;
    background: #254392;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}

#formCadastro {
    background-image: linear-gradient(180deg, rgba(24, 56, 140), rgba(217, 217, 217));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border-color: rgba(0, 0, 0, 0.1);
    opacity: 0; /* Inicialmente oculto */
    transform: scale(0.8); /* Inicialmente reduzido */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#formCadastro.show {
    opacity: 1; /* Torna o dialog visível */
    transform: scale(1); /* Retorna ao tamanho normal */
}

#tituloCadastro {
    padding: 2vh 0 0 0 !important;
}

#main {
    padding: 20px 0 0 0;
}

.mainLineDivs {
    display: flex;
    justify-content: space-evenly;
}

.mainDivs {
    height: ;
    width ;
}

.mainButtons {
    margin: 3vh;
    border: 4px solid transparent;
    border-radius: 15px;
    transition: border 0.3s ease;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35); 
}

#buttonAnotacoes:hover, #salvarAnotacao:hover {
    border: 4px solid #002058;
    border-radius: 15px;
    box-sizing: border-box;
}

#divVoltar {
    display: flex;
    justify-content: start;
    margin: 4vh 0 0 3vh;
}

#divShare {
    display: flex;
    justify-content: start;
    margin: 4vh 0 0 3vh;
}

.divMuteSoundMain {
    display: flex;
    justify-content: end;
    margin: 5vh 3vh 0 0 !important;
}

#divLogout {
    display: flex;
    justify-content: end;
    margin: 5vh 3vh 0 0;
}

#footer {
    display: flex;
    justify-content: space-between;
}

#tituloAnotacoes, #tituloAnotacao, #tituloCadastro {
    margin: 0;
    padding: 6vh 0 5vh 0;
    color: #FFF;
    font-family: Roboto;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.35);
}

.anotacoesLineDivs {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 2vh 0;
}

.anotacoesDivs {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
    border: 4px solid transparent; 
    border-radius: 5px;
}

.anotacoesDivs {
    transition: border 0.5s ease;
}

.anotacoesDivs:hover {
    border: 4px solid #002058;
    border-radius: 5px;
    box-sizing: border-box;
}

.anotacoesButtons {
    margin: 2vh 2vh 0.1vh 2vh;
    border: 4px solid transparent;
} 

.aAnotacoes {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    border: 4px solid transparent;
}

.anotacoesFooter {
    margin: 13vh 0 0 0;
}

#divMuteSound input:hover, #divShare input:hover, #divVoltar input:hover, #divLogout input:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.divMuteSoundAnotacoes {
    display: flex;
    justify-content: end;
    margin: 5vh 3vh 0 0 !important;
}

#tituloAnotacao {
    padding: 6vh 0 0 0 !important;
}

#numeroAnotacao {
    margin: 0;
    padding: 0 0 5vh 0;
    color: #FFF;
    font-family: Roboto;
    font-size: 35px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.35);
}

#formAnotacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textAnotacao {
    border-radius: 15px 15px 0 15px;
    border: 2.25px solid #4A6EC9;
    transition: border-color 0.3s ease;
    padding: 5px;
}

#textAnotacao:hover {
    border-color: #002058;
}

#textAnotacao:focus {
    outline: none;
    border-color: #002058;
}

#salvarAnotacao {
    margin: 1vh 0 0 0;
    width: 99%;
    border-radius: 15px;
    border: 1px solid #4A6EC9;
    background: #4472C4;
    color: #F9F9F9;
}

.anotacaoFooter {
    margin: 5vh 0 0 0;
}

.divMuteSoundAnotacao {
    display: flex;
    justify-content: end;
    margin: 4vh 3vh 0 0 !important;
}
